header{
    color: white;
    background-image:url("../img/team/team.jpg");
    box-shadow: 0 0 0 768px rgba(0,0,0,0.8) inset;
    background-position: center;
    font-family: "Courgette";
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header .titre{
    align-items: center;
    justify-content: center;
}

.team_faces img{
    border-radius: 50%;
}


